@import '../../styles/mixins';
@import '../../styles/variables';

#project {

    /* ---------- list-project ---------- */
    .list-project {
        gap: 2rem;
        @include grid-column(3, 1fr);

        /* ---- list-project responsive ---- */
        @include responsive-max(992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive-max(576px) {
            grid-template-columns: repeat(1, 1fr);
        }


        /* ----------- projet-card ---------- */
        .project-card {
            padding: 1rem;
            border-radius: 8px;
            background-color: $clr-white;
            box-shadow: 0 5px 15px #0000001a;
            transition: all .3s ease-in-out;
            @include flex(space-evenly, flex-start, column);

            //hover project-card
            &:hover {
                box-shadow: 0 10px 10px #0000001a;
                transform: translateY(-10px);
            }

            .img-project {
                height: 180px;
                cursor: pointer;
                border-radius: 8px;
                border: 1px solid $clr-border;

                //responsive
                @include responsive-max(1280px) {
                    height: 140px;
                }

                @include responsive-max(992px) {
                    height: 160px;
                }

                @include responsive-max(820px) {
                    height: 150px;
                }

                @include responsive-max(576px) {
                    height: 180px;
                }
            }

            .name-project {
                margin: 0.5rem 0;
                @include font-family('Archivo', sans-serif);
            }

            .button {
                background-color: $clr-bg;
            }
        }
    }

    /* --------- detail-project component --------- */
    .button-back {
        margin-bottom: 1rem;
        background-color: $clr-bg;

        &:hover {
            box-shadow:
                rgba(0, 0, 0, 0.1) 0 -25px 18px -14px inset,
                rgba(0, 0, 0, 0.1) 0 1px 2px,
                rgba(0, 0, 0, 0.1) 0 2px 4px,
                rgba(0, 0, 0, 0.1) 0 4px 8px,
                rgba(0, 0, 0, 0.1) 0 8px 16px,
                rgba(0, 0, 0, 0.1) 0 16px 32px;
        }
    }

    //detail-project class
    .detail-project {
        gap: 2rem;
        @include flex(center, flex-start, row);

        /* ---- detail-project responsive --- */
        @include responsive-max(992px) {
            @include flex(center, flex-start, column-reverse);
            gap: 1.5rem;
        }

        .list-img-part {
            width: 50%;

            //responsive
            @include responsive-max(992px) {
                width: 100%;
            }

            img {
                border-radius: 8px;
                border: 1px solid $clr-border;
            }
        }

        .content-part {
            width: 50%;

            //responsive
            @include responsive-max(992px) {
                width: 100%;
            }

            h1 {
                font-size: 1.5rem;
                @include font-family('Archivo', sans-serif);
            }

            .content {
                text-align: justify;
                margin: 0.5rem 0;
            }
        }

        .button {
            &:hover {
                box-shadow:
                    rgba(0, 0, 0, 0.1) 0 -25px 18px -14px inset,
                    rgba(0, 0, 0, 0.1) 0 1px 2px,
                    rgba(0, 0, 0, 0.1) 0 2px 4px,
                    rgba(0, 0, 0, 0.1) 0 4px 8px,
                    rgba(0, 0, 0, 0.1) 0 8px 16px,
                    rgba(0, 0, 0, 0.1) 0 16px 32px;
            }
        }

        //wrap-btn responsive 
        .wrap-btn {
            @include responsive-max(992px) {
                justify-content: flex-start;
                gap: 2rem;
            }

        }
    }


    /* ------------- skills ------------- */
    .skills {
        span {
            font-weight: 500;
            @include font-family('Archivo', sans-serif);
        }

        margin: 0.5rem 0;
    }
}