@import '../../styles/mixins';
@import '../../styles/variables';

#project {
    padding: 5rem 0 2rem;
    background-color: #d5dee6;
    @include font-family('Open Sans', sans-serif);

    /* ---------- list-project ---------- */
    .list-project {
        gap: 2rem;
        @include grid-column(3, 1fr);

        /* ----------- projet-card ---------- */
        .project-card {
            padding: 1rem;
            border-radius: 8px;
            background-color: $clr-white;
            box-shadow: 0 5px 15px #0000001a;
            transition: all .3s ease-in-out;

            //hover project-card
            &:hover {
                box-shadow: 0 10px 10px #0000001a;
                transform: translateY(-10px);
            }

            .img-project {
                height: 180px;
                cursor: pointer;
                border-radius: 8px;
                border: 1px solid $clr-border;
            }

            .name-project {
                margin: 0.5rem 0;
                @include font-family('Archivo', sans-serif);
            }



        }
    }

    /* --------- detail-project --------- */
    .detail-project {
        gap: 2rem;
        @include flex(center, flex-start, row);

        .list-img-part {
            width: 50%;

            img {
                border-radius: 8px;
                border: 1px solid $clr-border;
            }
        }

        .content-part {
            width: 50%;

            .content {
                text-align: justify;
                margin: 0.5rem 0;
            }
        }
    }

    /* ------------ wrap-btn ------------ */
    .wrap-btn {
        margin-top: 0.5rem;
        @include flex(space-between, center, row);
    }

    /* ------------- skills ------------- */
    .skills {
        span {
            font-weight: 500;
            @include font-family('Archivo', sans-serif);

        }

        margin: 0.5rem 0;
    }
}