@import '../../styles/mixins';
@import '../../styles/variables';

#project {

    /* ---------- list-project ---------- */
    .list-project {
        gap: 2rem;
        @include grid-column(3, 1fr);

        /* ---- list-project responsive ---- */
        @include responsive-max(992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive-max(576px) {
            grid-template-columns: repeat(1, 1fr);
        }


        /* ----------- projet-card ---------- */
        .project-card {
            padding: 1rem;
            border-radius: 8px;
            background-color: $clr-white;
            box-shadow: 0 5px 15px #0000001a;
            transition: all .3s ease-in-out;
            @include flex(space-evenly, flex-start, column);

            //hover project-card
            &:hover {
                box-shadow: 0 10px 10px #0000001a;
                transform: translateY(-10px);
            }

            .img-project {
                height: 180px;
                cursor: pointer;
                border-radius: 8px;
                border: 1px solid $clr-border;
            }

            .name-project {
                margin: 0.5rem 0;
                @include font-family('Archivo', sans-serif);
            }
        }
    }

    /* --------- detail-project --------- */
    .button-back {
        margin-bottom: 1rem;
    }

    .detail-project {
        gap: 2rem;
        @include flex(center, flex-start, row);

        /* ---- detail-project responsive --- */
        @include responsive-max(992px) {
            @include flex(center, flex-start, column-reverse);
            gap: 1.5rem;
        }

        .list-img-part {
            width: 50%;

            //responsive
            @include responsive-max(992px) {
                width: 100%;
            }

            img {
                border-radius: 8px;
                border: 1px solid $clr-border;
            }
        }

        .content-part {
            width: 50%;

            //responsive
            @include responsive-max(992px) {
                width: 100%;
            }

            h1 {
                font-size: 1.75rem;
            }

            .content {
                text-align: justify;
                margin: 0.5rem 0;
            }
        }
    }


    /* ------------- skills ------------- */
    .skills {
        span {
            font-weight: 500;
            @include font-family('Archivo', sans-serif);
        }

        margin: 0.5rem 0;
    }
}