@import './mixins';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $clr-black;

}

a {
    text-decoration: none;
    color: $clr-black;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}



/* ------------ container ----------- */
.container {
    width: 100%;
    max-width: 1250px;
    padding: 0 1rem;
    margin: 0 auto;

    //reponsive for container
    @include responsive-max(1300px) {
        max-width: 1100px;
    }

    @include responsive-max(1200px) {
        max-width: 95%;
    }

    @include responsive-max(576px) {
        max-width: 90%;
        padding: 0;
    }
}

/* -------------- title ------------- */
.title {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    @include font-family('Archivo', sans-serif);

    @include responsive-max(768px) {
        font-size: 2.5rem;
    }

    @include responsive-max(576px) {
        font-size: 2rem;
        margin-bottom: 1.125rem;
    }
}

/* ------------ wrap-btn ------------ */
.wrap-btn {
    width: 100%;
    margin-top: 0.75rem;
    @include flex(space-between, center, row);
}

/* ------------- button ------------- */
.button {
    background-color: $clr-white;
    border-radius: 100px;
    box-shadow:
        rgba(0, 0, 0, 0.1) 0 -25px 18px -14px inset,
        rgba(0, 0, 0, 0.1) 0 1px 2px,
        rgba(0, 0, 0, 0.1) 0 2px 4px,
        rgba(0, 0, 0, 0.1) 0 4px 8px,
        rgba(0, 0, 0, 0.1) 0 8px 16px,
        rgba(0, 0, 0, 0.1) 0 16px 32px;
    color: #1b2a40;
    cursor: pointer;
    display: inline-block;
    @include font-family("Archivo", sans-serif);
    text-transform: capitalize;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all .3s ease-in-out;

    //hover
    &:hover {
        background: linear-gradient(35deg, $clr-pastel-blue, $clr-light-blue);
        box-shadow: 0 15px 25px rgba(130, 190, 255, 0.4);
        transform: scale(1.05) rotate(-1deg);
        color: $clr-very-light-gray;
    }

    //active
    &:active {
        background-color: #a6b1ba;
        box-shadow: 0 5px 10px rgba(130, 190, 255, 0.2);
        transform: scale(0.98);
    }

}

.button-back {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    @include font-family("Archivo", sans-serif);

    background: $clr-white;
    color: $clr-dark-blue;

    border: none;
    border-radius: 30px;

    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    outline: none;
    position: relative;
    overflow: hidden;

    /* -------------- hover ------------- */
    &:hover {
        transform: translateY(-5px);
        color: $clr-very-light-gray;
        box-shadow: 0 15px 25px rgba(130, 190, 255, 0.4);
        background: linear-gradient(35deg, $clr-pastel-blue, $clr-light-blue);

        &::before {
            transform: translateX(-5px);
        }
    }

    /* ------------- active ------------- */
    &:active {
        transform: translateY(0);
        box-shadow: 0 5px 10px rgba(130, 190, 255, 0.3);
    }

    /* ------------- Icon style ------------- */
    &::before {
        content: '←';
        font-size: 18px;
        margin-right: 8px;
        transition: transform 0.4s linear;
    }
}



/* ------ background component ------ */
.bg {
    padding: 5rem 0 2rem;

    @include font-family('Open Sans', sans-serif);

    /* ------- project responsive ------- */
    @include responsive-max(992px) {
        padding: 4rem 0 2rem;
    }

    @include responsive-max(576px) {
        padding: 3.25rem 0 2rem;
    }

}

.dark {
    background: $clr-bg;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Remove the default styles */
    margin: 0;
    /* Remove any margins */
}

/* Hide number input spinners for Firefox */
input[type=number] {
    -moz-appearance: textfield;
    /* Remove the spinner controls */
}