$clr-white: hsl(0, 0%, 100%);
$clr-bg: hsl(218, 100%, 97%);
$clr-border: hsl(231, 23%, 87%);

$clr-blue: hsl(243, 100%, 62%);
$clr-light-blue: hsl(206, 94%, 87%);
$clr-dark-blue: hsl(213, 96%, 18%);
$clr-pastel-blue: hsl(228, 100%, 83%);

$clr-pink: hsl(345, 91%, 74%);
$clr-orange: hsl(23, 100%, 75%);
$clr-red-errors: hsl(354, 84%, 57%);

$clr-gray: hsl(231, 11%, 63%);
$clr-light-gray: hsl(229, 24%, 87%);
$clr-very-light-gray: hsl(231, 100%, 99%);