$clr-white: #ffffff;
$clr-bg: #d5dee6;
$clr-border: #d6d9e5;

$clr-blue: #473dff;
$clr-light-blue: #bfe2fd;
$clr-dark-blue: #02295a;
$clr-pastel-blue: #a8baff;

$clr-pink: #ff3f81;
$clr-orange: #ff7b42;
$clr-red: #ed3548;

$clr-black: #1e1e1e;
$clr-gray: #9699ab;
$clr-light-gray: #d6d9e6;
$clr-very-light-gray: #fafbff;