@import '../../styles/mixins';
@import '../../styles/variables';

#about {

    /* ---------- about-detail ---------- */
    .about-detail {
        padding-bottom: 1rem;
        gap: 1rem;
        @include flex(center, flex-start, row);

        //responsive
        @include responsive-max(767px) {
            @include flex(center, center, column);
        }

        //img-hero
        .img-hero {
            border-radius: 8px;

            //responsive
            @include responsive-max(912px) {
                width: 300px;
            }

            @include responsive-max(400px) {
                width: 280px;
            }
        }

        .content-part {

            p {
                text-align: justify;
                margin-bottom: 1.5rem;

                //responsive
                @include responsive-max(1024px) {
                    margin-bottom: 1rem;
                }

            }


            // padding: 1rem 0;
            .wrap-btn {
                height: 50px;

                .button-back {
                    border-radius: 10px;
                    padding: 12px 20px;
                    text-transform: capitalize;
                    background-color: $clr-white;
                    box-shadow:
                        rgba(0, 0, 0, 0.1) 0 -25px 18px -14px inset,
                        rgba(0, 0, 0, 0.1) 0 1px 2px,
                        rgba(0, 0, 0, 0.1) 0 2px 4px,
                        rgba(0, 0, 0, 0.1) 0 4px 8px,
                        rgba(0, 0, 0, 0.1) 0 8px 16px,
                        rgba(0, 0, 0, 0.1) 0 16px 32px;

                    &:hover {
                        border: none;
                    }

                    &::before {
                        display: none;
                    }
                }
            }

        }
    }
}