@import '../../styles/mixins';
@import '../../styles/variables';

#contact {
    .container {

        /* ---------- social-icons ---------- */
        .social-icons {
            margin-bottom: 1rem;
            gap: 1rem;
            @include flex(center, center, row);

            span {
                display: inline-flex;
                padding: 1rem;
                background-color: $clr-bg;
                border-radius: 50px;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }

        /* ----------- form-input ----------- */
        .form-input {
            margin: 0 auto;
            width: 680px;
            gap: 1rem;
            @include grid-row(5, 1fr);
            align-items: center;

            //responsive
            @include responsive-max(768px) {
                width: 80%;
            }

            //responsive
            @include responsive-max(540px) {
                width: 90%;
            }

            //input

            .input {
                width: 100%;
                color: black;
                padding: 0px 25px;
                line-height: 50px;
                font-size: 1.125rem;
                background: $clr-bg;
                display: inline-block;

                border: none;
                border-radius: 8px;
                border: 1px solid $clr-border;

                outline: none;
                box-shadow: none;
                @include font-family("Open Sans", sans-serif);
            }

            textarea {
                resize: none;
                height: 100%;
                overflow: auto;
                grid-row: span 2;
            }

        }

        .wrap-btn {
            justify-content: center;
        }

    }

    // button-back
    .button-back {
        padding: 12px 20px;
        border-radius: 10px;
        background-color: $clr-bg;
        border: 1px solid $clr-border;

        svg {
            path {
                @include transition-ease-in-out-3;
            }
        }

        &::before {
            display: none;
        }

        //hover
        &:hover {
            svg {
                path {
                    fill: $clr-white;
                }
            }
        }
    }

}