@import '../../styles/mixins';
@import '../../styles/variables';

// hidden body scroll ;
.noscroll {
    overflow: hidden;
    height: 100vh;
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 60px;
    font-weight: 600;
    font-size: 1.125rem;
    @include transition-ease-in-out;
    @include flex(center, center, row);
    @include font-family('Archivo', sans-serif);

    /* ------ .nav-header responsive ----- */
    @include responsive-max(576px) {
        height: 45px;
    }

    @include responsive-max(380px) {
        height: 35px;
    }

    /* ------------ container ----------- */
    .container {
        padding: 1rem 0;
        @include flex(flex-end, center, row);

        /* --------- container responsive --------- */
        @include responsive-max(1200px) {
            justify-content: space-between;
        }

        /* ---------- nav-link-logo --------- */
        .nav-link-logo {
            font-size: 1.5rem;
            display: none;
            color: $clr-black;
            @include transition-ease-in-out;
            @include font-family('Mali', cursive);

            /* --------- nav-link-logo responsive --------- */
            @include responsive-max(1200px) {
                gap: .5rem;
                display: block;
                gap: 0.5rem;

                @include flex(center, center, row);
                @include pop-up(0.3s, linear, 0s);

                .logo {
                    color: $clr-very-light-gray;
                    @include transition-ease-in-out-3;
                }
            }

            @include responsive-max(576px) {
                font-size: 1.25rem;
            }

            //icon-logo
            .icon-logo {
                display: block;
                width: 2rem;
                height: 2rem;
            }
        }

        /* --------------- nav -------------- */
        nav {

            /* --------- nav responsive --------- */
            @include responsive-max(1200px) {
                @include flex(flex-start, flex-start, column);
                gap: 3rem;

                position: fixed;
                top: 0;
                right: 0;

                z-index: 6;
                height: 100vh;
                background: $clr-bg;
                padding: 5rem 7rem 2rem 1rem;
                box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);

                transform: translateX(100%);
                @include transition-ease-in-out;

                &.show {
                    transform: translateX(0);
                }
            }

            @include responsive-max(992px) {
                padding: 3.75rem 5rem 1rem 1rem;
            }

            @include responsive-max(768px) {
                padding: 3.5rem 4.5rem 1rem 1rem;
            }

            @include responsive-max(576px) {
                padding: 3rem 4rem 1rem 0.75rem;
            }

            //nav-link
            .nav-link {
                position: relative;
                margin-left: 3.5rem;
                text-transform: uppercase;
                @include transition-ease;

                //hover
                &:hover {
                    color: $clr-pastel-blue;

                    &::before {
                        width: 100%;
                    }
                }

                //:: before
                &::before {
                    content: "";
                    left: 0;
                    bottom: -5px;
                    position: absolute;
                    width: 0;
                    height: 1.5px;
                    background: $clr-pastel-blue;
                    @include transition-ease-in-out-3;
                }

                /* --------- nav-link responsive --------- */
                @include responsive-max(1200px) {
                    margin-left: 0;
                }
            }
        }

        /* ------------ bars-icon ----------- */
        .bars-icon {
            display: none;
            cursor: pointer;

            /* --------- bars-icon responsive --------- */
            @include responsive-max(1200px) {
                display: block;
                z-index: 7;
                @include transition-ease-in-out-3;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;

                    //responsive 
                    @include responsive-max(576px) {
                        height: 1.25rem;
                        width: 1.25rem;
                    }

                    &[data-icon="bars"] {
                        @include rotate(rotate-reverse);
                    }

                    &[data-icon="x"] {
                        @include rotate;
                    }
                }
            }
        }
    }

    /* ------------ nav-fixed ----------- */
    &.nav-fixed {

        height: 65px;
        backdrop-filter: blur(15px);
        @include transition-ease-in-out;
        box-shadow: 0 3px 6px 0 #0000000d;
        background: rgb(232, 239, 247, 0.8);
        // border-bottom: 1px solid rgba(255, 255, 255, 0.8);

        /* ------ nav-fixed responsive ------ */
        @include responsive-max(576px) {
            height: 50px;
        }

        @include responsive-max(380px) {
            height: 40px;
        }

        .container {
            @include flex(space-between, center, row);

            .nav-link-logo {
                display: block;
                gap: 0.5rem;
                @include transition-ease-in-out;
                @include flex(center, center, row);
                @include pop-up(0.3s, linear, 0s);

                .logo {
                    color: $clr-black;
                }

            }
        }
    }

    /* ------------ over-play ----------- */
    .over-play {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: transparent;
        @include transition-ease-in-out;

        &.show {
            @include responsive-max(1200px) {

                height: 100vh;
                background: #1d2a37b3;
            }
        }
    }
}