@import '../../styles/mixins';
@import '../../styles/variables';

.banner {
    overflow: hidden;
    height: 900px;
    width: 100%;

    /* -------- banner responsive ------- */
    @include responsive-max(1350px) {
        height: 800px;
    }

    @include responsive-max(1200px) {
        height: 680px;
    }

    @include responsive-max(1024px) {
        height: 600px;
    }

    @include responsive-max(900px) {
        height: 550px;
    }


    .wrap {
        position: relative;
        @include font-family('Mali', cursive);

        /* ------------ mountain ------------ */
        .mountain {
            position: absolute;
            top: 0;

        }

        /* -------------- lake -------------- */
        .lake {
            position: absolute;
            top: 0;
            z-index: 2;
        }

        /* ------------ greeting ------------ */
        .greeting {
            z-index: 1;
            font-size: 5rem;
            font-weight: 500;
            color: $clr-very-light-gray;

            position: absolute;
            top: 50px;
            left: 550px;

            @include fade-down(0.5s, linear, 0.1s);

            /* ------- greeting responsive ------ */
            @include responsive-max(1200px) {
                left: 450px;
                font-size: 4.5rem;
            }

            @include responsive-max(1100px) {
                top: 40px;
                left: 420px;
                font-size: 4.25rem;
            }

            @include responsive-max(950px) {
                top: 30px;
                left: 350px;
            }
        }

        /* ------------ introduce ----------- */
        .introduce {
            z-index: 4;
            font-size: 3.125rem;
            font-weight: 400;
            font-style: italic;
            color: $clr-very-light-gray;

            position: absolute;
            top: 470px;
            right: 170px;

            @include fade-up(0.7s, linear, 0s);

            /* ------- introduce responsive ------ */
            @include responsive-max(1200px) {
                top: 420px;
                right: 130px;
                font-size: 3rem;
            }

            @include responsive-max(1100px) {
                top: 380px;
                right: 100px;
                font-size: 2.75rem;
            }

            @include responsive-max(950px) {
                top: 350px;
                right: 60px;
            }
        }
    }
}